<h2>Season Info: </h2>

<p>
  Show: <%= @season.show_id.title %>
</p>
<p>
  Season Number: <%= @season.season_number %>
</p>
<p>
  Air Date: <%= @season.air_date %>
</p>

<p>
  <%= image_tag @season.poster_path %>
</p>
