<h2><%= "#{@user.first_name} #{@user.last_name}" %>'s Favorite Shows</h2>

<ol>
  <% @user.favorites.each do |fav| %>
    <li><%= link_to fav.show.title , show_path(fav.show)%></li>
    <ul>
      <li>Comment: <%= fav.comment %></li>
      <li>Rating: <%= fav.rating %></li>
    </ul>
  <% end %>
</ol>
