<h2>TV Shows</h2>
<%= link_to "Add New TV Show", new_show_path %>
<%= link_to "Add Favorite Shows" %>
<ul>
  <% @shows.each do |show| %>
    <li><%= link_to show.title, show_path(show) %> </li>
  <% end %>
</ul>
